<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.dltk.ui.language">
		<language class="net.sourceforge.shelled.ui.ShelledUILanguageToolkit"
			nature="net.sourceforge.shelled.core.nature" priority="0">
		</language>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="net.sourceforge.shelled.category" name="Shell Script">
		</category>
		<wizard
        category="net.sourceforge.shelled.category"
        class="net.sourceforge.shelled.ui.wizards.ShellScriptProjectWizard"
        icon="icons/projectwizard.gif"
        id="net.sourceforge.shelled.projectwizard"
        name="Shell Script Project"
        project="true">
     <description>
        Create a new Shell Script project.
     </description>
		</wizard>
  <wizard
        category="net.sourceforge.shelled.category"
        class="net.sourceforge.shelled.ui.wizards.NewShellScriptFileWizard"
        icon="icons/scriptwizard.gif"
        id="net.sourceforge.shelled.scriptfilewizard"
        name="Shell Script"
        project="false">
     <description>
        Create a new Shell Script.
     </description>
  </wizard>
	</extension>
	<extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
		<interpreterInstallType
			class="net.sourceforge.shelled.ui.interpreter.ShellScriptInstallType"
			id="net.sourceforge.shelled.ui.interpreter.ShellScriptInstallType">
		</interpreterInstallType>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
	<page id="net.sourceforge.shelled.ui.preferences"
 		name="Shell Script"
    		class="net.sourceforge.shelled.ui.MainPreferencePage">
   	</page>
	
		<page
			class="net.sourceforge.shelled.ui.interpreter.ShellInterpreterPreferencePage"
			category="net.sourceforge.shelled.ui.preferences" id="net.sourceforge.shelled.ui.preferences.interpreters" name="Interpreters" />
			<page
  category="net.sourceforge.shelled.ui.preferences"
  class="net.sourceforge.shelled.ui.preferences.ShellTodoTaskPreferencePage"
  id="net.sourceforge.shelled.ui.preferences.TodoTasks"
  name="Task Tags"/>
  <page
	          category="net.sourceforge.shelled.ui.preferences.editor"
	          class="net.sourceforge.shelled.ui.preferences.ShellSyntaxColoringPreferencePage"
	          id="net.sourceforge.shelled.ui.syntaxcoloring"
	          name="Syntax coloring"/>
	<page
          category="net.sourceforge.shelled.ui.preferences"
          class="net.sourceforge.shelled.ui.preferences.ShellEditorPreferencesPage"
          id="net.sourceforge.shelled.ui.preferences.editor"
          name="Editor"/>
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor
        class="net.sourceforge.shelled.ui.editor.ShellScriptEditor"
        contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
        default="false"
        icon="icons/script.gif"
        id="net.sourceforge.shelled.ui.editor"
        name="Shell Script Editor">
			<contentTypeBinding contentTypeId="net.sourceforge.shelled.content-type" />
		</editor>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="net.sourceforge.shelled.ui.ShelledUIPreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="net.sourceforge.shelled.ui.launchConfigurationType1" name="Shell Script"
			delegate="net.sourceforge.shelled.ui.LaunchConfigurationDelegate"
			modes="run">
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage icon="icons/shellapp.gif"
			configTypeID="net.sourceforge.shelled.ui.launchConfigurationType1"
			id="net.sourceforge.shelled.ui.launchConfigurationTypeImage.program">
		</launchConfigurationTypeImage>
	</extension>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut class="net.sourceforge.shelled.ui.LaunchShortcut"
			id="net.sourceforge.shelled.ui.shortcut" label="Shell script" modes="run"
			icon="icons/shellapp.gif">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1" />
						<iterate>
							<or>
								<test args="net.sourceforge.shelled.core.nature" property="org.eclipse.dltk.launching.hasProjectNature">
								</test>
							</or>
						</iterate>
					</with>
				</enablement>
				<contextLabel label="Run shell script" mode="run">
				</contextLabel>
			</contextualLaunch>

		</shortcut>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="net.sourceforge.shelled.ui.interpreter.ShellTabGroup" id="net.sourceforge.shelled.ui.interpreter.ShellTabGroup"
			type="net.sourceforge.shelled.ui.launchConfigurationType1">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.dltk.core.completionEngine">
		<completionEngine
			class="net.sourceforge.shelled.ui.completion.ShellCompletionEngine"
			nature="net.sourceforge.shelled.core.nature" priority="0">
		</completionEngine>
	</extension>
	<extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="ShellTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer
			class="net.sourceforge.shelled.ui.completion.ShellCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="net.sourceforge.shelled.core.nature">
			<partition type="__dftl_partition_content_type" />
		</scriptCompletionProposalComputer>
	</extension>
	<extension point="org.eclipse.search.searchPages">
		<page canSearchEnclosingProjects="true"
			class="net.sourceforge.shelled.ui.search.ShelledSearchPage" enabled="true"
			id="net.sourceforge.shelled.ShelledSearchPage" label="Shell Script Search"
			showScopeSection="true" sizeHint="460,160">
		</page>
	</extension>
	<extension point="org.eclipse.dltk.core.search">
		<searchFactory
			class="net.sourceforge.shelled.ui.search.ShelledSearchFactory"
			nature="net.sourceforge.shelled.core.nature" priority="0">
		</searchFactory>
	</extension>
	<extension point="org.eclipse.dltk.core.selectionEngine">
   <selectionEngine
         class="net.sourceforge.shelled.ui.selection.ShelledSelectionEngine"
         nature="net.sourceforge.shelled.core.nature"
         priority="0">
   </selectionEngine>
</extension>
<extension
  point="org.eclipse.dltk.core.buildParticipant">
  <buildParticipant
    class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
    id="net.sourceforge.shelled.buildParticipant.parser"
    name="Shell build"
    nature="net.sourceforge.shelled.core.nature">
  </buildParticipant>
  <buildParticipant
    class="net.sourceforge.shelled.ui.ShellTodoParserType"
    id="net.sourceforge.shelled.todo"
    name="Shelled"
    nature="net.sourceforge.shelled.core.nature">
    <requires
      id="net.sourceforge.shelled.buildParticipant.parser">
    </requires>
  </buildParticipant>
  
</extension>
<extension point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="net.sourceforge.shelled.ui.selection.ShellDocumentationProvider"
           id="net.sourceforge.shelled.ShellDocumentationProvider"
           nature="net.sourceforge.shelled.core.nature"/>
</extension>
	<extension point="org.eclipse.ui.commands">
		<command name="Run shell" description="run shell script"
			categoryId="org.eclipse.debug.ui.category.run" id="net.sourceforge.shelled.ui.shortcut">
		</command>
		<command
        defaultHandler="net.sourceforge.shelled.ui.commands.ShowManHandler"
        description="Show man page view"
        id="net.sourceforge.shelled.ui.showman"
        name="Show man page">
		</command>
  <command
        defaultHandler="net.sourceforge.shelled.ui.commands.AddNature"
        description="Adds the Shell Script nature to these projects"
        id="net.sourceforge.shelled.ui.addnature"
        name="Add Shell Script Support">
  </command>
  <command
        defaultHandler="net.sourceforge.shelled.ui.commands.RemoveNature"
        description="Removes the Shell Script nature from these projects"
        id="net.sourceforge.shelled.ui.removenature"
        name="Remove Shell Script Support">
  </command>
	</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="net.sourceforge.shelled.ui.showman"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="Alt+M">
   </key>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
            label="ShellEd">
         <command
               commandId="net.sourceforge.shelled.ui.addnature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <not>
                        <test
                              property="net.sourceforge.shelled.ui.naturetester.hasShellEdNature">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.shelled.ui.removenature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           property="net.sourceforge.shelled.ui.naturetester.hasShellEdNature">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <adapt
                           type="org.eclipse.dltk.core.IScriptProject">
                     </adapt>
                  </or>
               </iterate>
            </with>
         </visibleWhen>
      </menu>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="net.sourceforge.shelled.ui.commands.NaturePropertyTester"
         id="net.sourceforge.shelled.ui.naturetester"
         namespace="net.sourceforge.shelled.ui.naturetester"
         properties="hasShellEdNature"
         type="org.eclipse.core.runtime.IAdaptable">
   </propertyTester>
</extension>

<extension point="org.eclipse.dltk.ui.folding">
  <structureProvider 
   	nature="net.sourceforge.shelled.core.nature"
   	class="org.eclipse.dltk.ui.text.folding.DelegatingFoldingStructureProvider">
  </structureProvider>
  <blockProvider
    nature="net.sourceforge.shelled.core.nature"
    class="net.sourceforge.shelled.ui.text.folding.ShellCommentFoldingBlockProvider">
  </blockProvider>
  <blockProvider
    nature="net.sourceforge.shelled.core.nature"
    class="net.sourceforge.shelled.ui.text.folding.ShellCodeFoldingBlockProvider">
  </blockProvider>
</extension>
</plugin>
